@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/poppins-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/poppins-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* el-messiri-700 - latin */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/el-messiri-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/el-messiri-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v22-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v22-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v22-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v22-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Poppins, El Messiri;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: black;
  background-color: #f4f6fe;
  border: none;
}
.wrapper {
  max-width: 1537px;
  margin: 0 auto;
}
.header__content {
  width: 81.39%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.burger-menu {
  display: none;
  z-index: 2;
}
#burger-icon {
  width: 25px;
  height: 15px;
  margin: 38px 0 20px 35px;
  cursor: pointer;
}
.menu-bar {
  height: 2px;
  width: 90%;
  background-color: black;
  display: block;
  border-radius: 4px;
  transition: 0.3s ease;
}
#line1 {
  transform: translateY(-4px);
}
#line3 {
  transform: translateY(4px);
}
.burger-nav {
  margin: -8px 30px 0px 30px;
  transition: 0.3s ease;
  display: none;
}
.burger_item {
  padding: 3px;
}
.burger_link {
  color: black;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
}
.burger_link:hover {
  font-weight: bold;
}
.burger-bg,
.burger-menu {
  top: 0;
  left: 0;
  position: absolute;
}
.burger-bg {
  z-index: 1;
  width: 0;
  height: 0;
  background: #e6e9f7;
  border-radius: 60%;
  transition: 0.3s ease;
}
.open-bg {
  width: 400px;
  height: 380px;
  transform: translate(-60%, -30%);
}
.open .menu-bar {
  background-color: black;
}
.open #line1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.open #line3 {
  transform: translateY(-4px) rotate(45deg);
}
.open #line2 {
  opacity: 0;
}
.open {
  display: block;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__logo {
  color: black;
  font-family: El Messiri;
  font-weight: 700;
  line-height: 40.5px;
  font-size: 25px;
  text-decoration: none;
}
.menu__logo:hover {
  color: #30333d;
  font-size: 28px;
}
.nav_header {
  margin-left: 115px;
}
.header_list {
  display: flex;
  align-items: center;
}
.list__item {
  margin: 0 30px;
}
.list__item a {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 135%;
  text-decoration: none;
}
.list__item a:hover {
  color: #30333d;
  font-weight: 700;
  font-size: 20px;
}
.buttons__item {
  background-color: #6e8bf5;
  border: none;
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  transition: 0.4s ease-out background;
}
.buttons__item:hover {
  background-color: #30333d;
}
.buttons__item:first-child {
  border-radius: 20px 5px 5px 20px;
  padding: 9px 21px 8px 21px;
  margin-right: 8px;
}
.buttons__item:last-child {
  border-radius: 5px 20px 20px 5px;
  padding: 9px 15px 8px 15px;
}
.intro {
  margin-top: 250px;
  /* opacity: 0.5; */
}
.section--intro {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 97.91%;
}
.draw {
  display: flex;
  justify-content: center;
}
.rec1 {
  margin-right: 20px;
}
.rec2 {
  margin-left: 20px;
}
.intro__suptitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
  margin-left: 70px;
}
.intro__suptitle h3 {
  font-family: El Messiri;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}
.intro__suptitle h1 {
  font-family: El Messiri;
  font-weight: 700;
  font-size: 64px;
  line-height: 89.6px;
  text-align: center;
  margin-top: 40px;
  width: 587px;
}
.pic2 {
  margin-top: 40px;
}
.btn {
  background-color: #6e8bf5;
  display: inline-flex;
  border-radius: 5px;
  padding: 18.5px 31px 18.5px 31px;
  border: none;
  margin-top: 60px;
  transition: background 0.3s ease;
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  transition: 0.4s ease-out background;
}
.btn:hover {
  background-color: #30333d;
}
.clubs {
  margin-top: 60px;
}
h2 {
  font-family: El Messiri;
  font-weight: 700;
  font-size: 42px;
  line-height: 58.8px;
  text-align: center;
}
hr {
  width: 277px;
  margin-top: -6px;
  opacity: 0.1;
}
.rights_hr {
  margin: 80px auto 0 auto;
  width: 75%;
  opacity: 0.1;
}
.clubs__container {
  width: 97.92%;
  height: 733px;
  margin: 0 auto;
  background-color: #f4f6fe;
  margin-top: 100px;
  border-radius: 40px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.clubs_logo {
  width: 96.68%;
  height: 683px;
  background-color: white;
  border-radius: 40px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.clubs_logo::-webkit-scrollbar {
  display: none;
}
.line {
  display: flex;
  max-width: 268px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-height: 1200px;
}
.line1 {
  margin-top: 60px;
}
.line2 {
  margin-top: 180px;
}
.line4 {
  margin-top: 120px;
}

.clubs_lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.clubs_lists .logo {
  width: 262px;
  height: 360px;
  background-color: #f4f6f0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
}
.logo .zhasa {
  width: 240px;
  height: 240px;
  margin-top: 10px;
  border-radius: 20px;
}
.clubs_name {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
}
.clubs_def {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.app {
  margin-top: 145px;
}
.app_photo {
  margin-top: 52px;
  width: 97.92%;
  border-radius: 40px;
  margin-left: 20px;
}
.footer {
  background-color: #2c2a2b;
  margin-top: 300px;
}
.footer_container {
  max-width: 1920px;
  margin: auto;
  height: 417px;
}
.footer_box {
  display: flex;
  width: 75.57%;
  margin-left: 180px;
}
.footer_list {
  list-style: none;
  padding-top: 58px;
}
.item1 {
  margin-left: -12px;
  margin-top: -15px;
}
.footer-col {
  width: 100%;
}
.footer_nav {
  font-family: El Messiri;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.5px;
  color: #ffffff;
  margin-top: 82px;
  transition: all 0.3s ease;
}
.footer_item:not(:last-child) {
  margin-bottom: 40px;
}
.items_links {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  transition: all 0.3s ease;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.items_links:hover,
.footer_nav:hover {
  color: #ffffff;
  padding-left: 8px;
}
.icons {
  margin-right: 23px;
}
.social_media {
  padding-top: 54px;
  margin-left: 65px;
}
.social_links {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #2c2a2b;
  margin-left: 30px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social_links:hover {
  color: #24262b;
  background-color: #ffffff;
}
.rights {
  color: rgba(200, 200, 200, 0.5);
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(244, 246, 254, 0.628);
  display: none;
}
.login-pop,
.signup-pop {
  max-width: 690px;
  max-height: 690px;
  background-color: #f4f6fe;
  border-radius: 40px;
  border: 3px solid white;
  margin: 195px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.login-form,
.signup-form {
  background-color: #6e8bf5;
  width: 75.94%;
  height: 90.43%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 29px auto 37px auto;
}
.form-h2,
.email-box,
.password-box,
.email,
.password,
.lost_pass,
.log_p,
.signup_p,
.log_p a,
.signup_p a,
.username-box,
.username,
.tel-box,
.tel,
.regemail-box,
.regpassword-box,
.regpassword {
  background-color: inherit;
  color: white;
  font-weight: 400;
  font-family: Poppins;
}
.form-h2 {
  font-size: 30px;
  line-height: 45px;
  margin-top: 40px;
  text-align: center;
}
.username-box {
  margin-top: 5px;
}
.tel-box {
  margin-top: 19px;
}
.email-box {
  margin-top: 44px;
}
.regemail-box {
  margin-top: 19px;
}
.email-box,
.password-box,
.regemail-box,
.regpassword-box,
.username-box,
.tel-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
  border: none;
}
.email,
.password,
.username,
.tel,
.regpassword {
  font-size: 18px;
  line-height: 27px;
}
input {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-left: 23px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 450px;
  border: none;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #bcbec0;
  outline-width: 0;
  background-color: white;
  font-family: Poppins;
  line-height: 21px;
  cursor: pointer;
}
.password-box {
  margin-top: 27px;
}
.regpassword-box {
  margin-top: 19px;
}
.eyes {
  max-width: 450px;
  height: 50px;
  border: none;
  border-radius: 10px;
  border: 1px solid #bcbec0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#password {
  max-height: 45px;
  border: none;
}
#regpassword {
  border: none;
  margin: 0;
  height: 44px;
}
.eye {
  margin-right: 10px;
  color: #c7d2d6;
}
#show {
  display: none;
}
#regshow {
  display: none;
}
.fas {
  background-color: white;
}
.lost_pass {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  margin-top: 15px;
}
.lost_pass:hover {
  font-size: 16px;
  font-weight: 600;
}
.signin,
.signup {
  width: 95.42%;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 26px;
  background-color: #2c2a2b;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  font-family: Poppins;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.signin:hover,
.signup:hover {
  background-color: #24262b;
}

.log_p {
  font-size: 15px;
  line-height: 21px;
  margin-top: 28px;
}
.log_p a:hover {
  font-weight: 700;
  /* font-size: 16px; */
}
.signup_p {
  font-size: 16px;
  line-height: 21px;
  margin-top: 32px;
  margin-bottom: 25px;
}
.signup_p a:hover {
  font-size: 15px;
  font-weight: 700;
}
.log_p a,
.signup_p a {
  text-decoration: underline;
}
.google {
  width: 150px;
  height: 50px;
  border: none;
  margin-top: 28px;
}
.google-photo {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  /* margin-left: -6px; */
  aspect-ratio: 1/1;
}
.log_p:last-child,
.signup_p {
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .wrapper {
    width: 80%;
  }
  .nav_header {
    margin-left: 60px;
  }
  .list__item {
    margin: 0 10px;
  }
  .buttons__item {
    font-size: 12px;
  }
  .buttons__item:first-child {
    border-radius: 20px 5px 5px 20px;
    padding: 6px 18px 5px 18px;
  }
  .buttons__item:last-child {
    border-radius: 5px 20px 20px 5px;
    padding: 6px 13px 5px 13px;
  }
}
@media (max-width: 768px) {
  .header__content {
    margin-top: -20px;
  }
  .buttons__item {
    font-size: 10px;
  }
  .menu__logo {
    font-size: 20px;
  }
  .nav_header {
    margin-left: 10px;
  }
  .buttons__item:first-child {
    margin-right: 4px;
  }
  .buttons__item:first-child {
    border-radius: 20px 5px 5px 20px;
    padding: 5px 17px 4px 17px;
  }
  .buttons__item:last-child {
    border-radius: 5px 20px 20px 5px;
    padding: 5px 12px 4px 12px;
  }
}
@media (max-width: 576px) {
  .header__content {
    justify-content: space-evenly;
    margin-top: -20px;
  }
  .menu__logo {
    font-size: 15px;
  }
  .buttons__item:first-child {
    margin-right: 1px;
    padding: 3px 8px 2px 15px;
  }
  .buttons__item:last-child {
    padding: 3px 8px 2px 10px;
  }
}
@media (max-width: 480px) {
  .menu {
    display: none;
  }
  .header_buttons {
    display: none;
  }
  .burger-menu {
    display: inline;
  }
}
@media (max-width: 320px) {
  #burger-icon {
    width: 20px;
    height: 8px;
    margin: 25px 0 20px 20px;
  }
  .menu-bar {
    height: 1.5px;
    width: 100%;
    background-color: black;
  }
  .burger-nav {
    margin-left: 15px;
  }
  .burger_link {
    font-size: 10px;
    line-height: 10px;
  }
  .open-bg {
    width: 260px;
    height: 300px;
  }
}
